.header {
    display: flex;
    background-color: darkgrey;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    padding: 20px;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
}

.header ul li {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: right;
}

.header a {
    color: black;
    font-size: 45px;
    margin-left: 25px;
}

.landing-image img {
   width: 100%;
}

.about-me {
    height: 250px;
    width: 70%;
    float: right;
}

.about-me-title p {
    height: 250px;
    width: 30%;
    font-size: 60px;
    border-right: 3px solid black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.work-title p {
    height: 250px;
    width: 70%;
    font-size: 60px;
    border-right: 3px solid black;
}

.work {
    height: 250px;
    width: 70%;
    float:right;
}
